@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Rubik:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f59e0b;
  --off-white: #fef3c7;
}

/* nav style */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--primary-color);
  height: 12vh;
  border-bottom-left-radius: 1.875rem;
  border-top-right-radius: 1.875rem;
}

.nav-heading a {
  font-weight: bold;
  font-size: 1.7rem;
  color: darkred;
  font-family: "Rubik", sans-serif;
}

.list-non-bullet {
  display: flex;
  list-style: none;
  flex-direction: row;
  padding: 10px 10px;
}

.list {
  margin: 0px 15px;
}

.link {
  text-decoration: none;
  color: firebrick;
  font-size: 1.1rem;
  font-family: "Inconsolata", monospace;
}

.navbar .link-active {
  font-weight: bold;
}

/* header style */

.main-header {
  padding: 8px 10px;
  margin: 18px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-header .main-image {
  max-width: 80%;
  width: 42vw;
  height: 64vh;
}

header .main-heading {
  padding-top: 30px;
  font-family: "Inconsolata", monospace;
}

header .main-heading .main-color {
  color: var(--primary-color);
}

/* section style */

.section {
  padding: 15px 10px;
  margin: auto;
  border-radius: 10px;
  max-width: 80vw;
  border: 2px solid var(--primary-color);
  margin-top: 2rem;
}

.off-white {
  background-color: var(--off-white);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section .section-heading {
  margin: 20px;
  font-family: "Inconsolata", monospace;
  font-size: 1.6rem;
}

section .section-para {
  font-family: "Inconsolata", monospace;
  font-size: 1.2rem;
}

section .section {
  padding: 2rem;
}

/* Link style */

.link-primary {
  max-width: 144px;
  padding: 0.6rem 1.2rem;
  background-color: var(--primary-color);
  color: #fff;
  margin: 1rem auto;
  border-radius: 2rem;
}

.link-secondary {
  color: var(--primary-color);
  background-color: white;
  border: 2px solid var(--primary-color);
}

/* footer style */

.footer {
  background-color: #fef3c780;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.footer-header {
  margin-top: 1rem;
  font-family: "Inconsolata", monospace;
}

footer .icon {
  margin: 20px;
}

footer .icon .icon-style {
  font-size: 2.5rem;
  padding: 8px 20px;
  color: black;
}

footer .icon .icon-style:hover {
  cursor: pointer;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 68vw;
}

.project-container small {
  padding: 15px;
  font-family: "Rubik", sans-serif;
}

.project-container p {
  padding: 12px;
  font-family: "Rubik", sans-serif;
}

.project-container h1 {
  font-family: "Inconsolata", monospace;
}
